@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-home, .icon-pencil, .icon-image, .icon-connection, .icon-book, .icon-profile, .icon-folder, .icon-folder-open, .icon-tag, .icon-tags, .icon-barcode, .icon-qrcode, .icon-ticket, .icon-cart, .icon-cart-2, .icon-cart-3, .icon-coin, .icon-credit, .icon-phone, .icon-phone-hang-up, .icon-image-2, .icon-images, .icon-pencil-2, .icon-quill, .icon-location, .icon-location-2, .icon-compass, .icon-alarm, .icon-alarm-2, .icon-calendar, .icon-print, .icon-drawer, .icon-drawer-2, .icon-drawer-3, .icon-box-add, .icon-box-remove, .icon-download, .icon-upload, .icon-undo, .icon-redo, .icon-forward, .icon-reply, .icon-bubble, .icon-bubbles, .icon-bubbles-2, .icon-bubble-2, .icon-bubbles-3, .icon-bubbles-4, .icon-user, .icon-users, .icon-user-2, .icon-users-2, .icon-user-3, .icon-user-4, .icon-quotes-left, .icon-busy, .icon-spinner, .icon-spinner-2, .icon-spinner-3, .icon-spinner-4, .icon-spinner-5, .icon-spinner-6, .icon-search, .icon-zoom-in, .icon-zoom-out, .icon-expand, .icon-contract, .icon-expand-2, .icon-contract-2, .icon-key, .icon-key-2, .icon-lock, .icon-lock-2, .icon-unlocked, .icon-wrench, .icon-settings, .icon-equalizer, .icon-cog, .icon-cogs, .icon-cog-2, .icon-hammer, .icon-wand, .icon-aid, .icon-bug, .icon-pie, .icon-stats, .icon-bars, .icon-bars-2, .icon-gift, .icon-trophy, .icon-glass, .icon-leaf, .icon-fire, .icon-remove, .icon-remove-2, .icon-briefcase, .icon-truck, .icon-shield, .icon-lightning, .icon-switch, .icon-power-cord, .icon-signup, .icon-list, .icon-list-2, .icon-numbered-list, .icon-menu, .icon-menu-2, .icon-tree, .icon-cloud-download, .icon-cloud-upload, .icon-cloud, .icon-download-2, .icon-upload-2, .icon-download-3, .icon-upload-3, .icon-globe, .icon-earth, .icon-link, .icon-flag, .icon-attachment, .icon-eye, .icon-eye-blocked, .icon-eye-2, .icon-bookmark, .icon-bookmarks, .icon-brightness-medium, .icon-brightness-contrast, .icon-contrast, .icon-star, .icon-star-2, .icon-star-3, .icon-heart, .icon-heart-2, .icon-heart-broken, .icon-thumbs-up, .icon-thumbs-up-2, .icon-happy, .icon-happy-2, .icon-point-up, .icon-point-right, .icon-point-down, .icon-point-left, .icon-warning, .icon-notification, .icon-question, .icon-info, .icon-info-2, .icon-blocked, .icon-cancel-circle, .icon-checkmark-circle, .icon-spam, .icon-close, .icon-checkmark, .icon-checkmark-2, .icon-spell-check, .icon-minus, .icon-plus, .icon-enter, .icon-exit, .icon-loop, .icon-loop-2, .icon-loop-3, .icon-shuffle, .icon-checkbox-checked, .icon-radio-checked, .icon-checkbox-partial, .icon-radio-unchecked, .icon-checkbox-unchecked, .icon-crop, .icon-scissors, .icon-table, .icon-file-openoffice, .icon-file-word, .icon-file-excel, .icon-file-zip, .icon-file-powerpoint, .icon-file-xml, .icon-file-css, .icon-chrome, .icon-firefox, .icon-IE, .icon-opera, .icon-safari, .icon-IcoMoon, .icon-paypal, .icon-paypal-2, .icon-paypal-3, .icon-delicious, .icon-linkedin, .icon-github, .icon-github-2, .icon-code, .icon-embed, .icon-console, .icon-indent-increase, .icon-indent-decrease, .icon-new-tab, .icon-paragraph-justify, .icon-paragraph-right, .icon-paragraph-center, .icon-paragraph-left, .icon-paragraph-justify-2, .icon-paragraph-right-2, .icon-paragraph-center-2, .icon-paragraph-left-2, .icon-google-plus, .icon-arrow-left, .icon-arrow-down-left, .icon-arrow-down, .icon-arrow-down-right, .icon-arrow-right, .icon-arrow-up-right, .icon-arrow-up-left, .icon-arrow-up, .icon-arrow-left-2, .icon-arrow-down-left-2, .icon-arrow-down-2, .icon-arrow-down-right-2, .icon-arrow-right-2, .icon-arrow-up-right-2, .icon-arrow-up-2, .icon-arrow-up-left-2, .icon-stack, .icon-envelop, .icon-storage, .icon-tab {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-home:before {
	content: "\e000";
}
.icon-pencil:before {
	content: "\e001";
}
.icon-image:before {
	content: "\e002";
}
.icon-connection:before {
	content: "\e003";
}
.icon-book:before {
	content: "\e004";
}
.icon-profile:before {
	content: "\e005";
}
.icon-folder:before {
	content: "\e006";
}
.icon-folder-open:before {
	content: "\e007";
}
.icon-tag:before {
	content: "\e008";
}
.icon-tags:before {
	content: "\e009";
}
.icon-barcode:before {
	content: "\e00a";
}
.icon-qrcode:before {
	content: "\e00b";
}
.icon-ticket:before {
	content: "\e00c";
}
.icon-cart:before {
	content: "\e00d";
}
.icon-cart-2:before {
	content: "\e00e";
}
.icon-cart-3:before {
	content: "\e00f";
}
.icon-coin:before {
	content: "\e010";
}
.icon-credit:before {
	content: "\e011";
}
.icon-phone:before {
	content: "\e012";
}
.icon-phone-hang-up:before {
	content: "\e013";
}
.icon-image-2:before {
	content: "\e014";
}
.icon-images:before {
	content: "\e015";
}
.icon-pencil-2:before {
	content: "\e016";
}
.icon-quill:before {
	content: "\e017";
}
.icon-location:before {
	content: "\e018";
}
.icon-location-2:before {
	content: "\e019";
}
.icon-compass:before {
	content: "\e01a";
}
.icon-alarm:before {
	content: "\e01b";
}
.icon-alarm-2:before {
	content: "\e01c";
}
.icon-calendar:before {
	content: "\e01d";
}
.icon-print:before {
	content: "\e01e";
}
.icon-drawer:before {
	content: "\e01f";
}
.icon-drawer-2:before {
	content: "\e020";
}
.icon-drawer-3:before {
	content: "\e021";
}
.icon-box-add:before {
	content: "\e022";
}
.icon-box-remove:before {
	content: "\e023";
}
.icon-download:before {
	content: "\e024";
}
.icon-upload:before {
	content: "\e025";
}
.icon-undo:before {
	content: "\e028";
}
.icon-redo:before {
	content: "\e029";
}
.icon-forward:before {
	content: "\e02a";
}
.icon-reply:before {
	content: "\e02b";
}
.icon-bubble:before {
	content: "\e026";
}
.icon-bubbles:before {
	content: "\e027";
}
.icon-bubbles-2:before {
	content: "\e02c";
}
.icon-bubble-2:before {
	content: "\e02d";
}
.icon-bubbles-3:before {
	content: "\e02e";
}
.icon-bubbles-4:before {
	content: "\e02f";
}
.icon-user:before {
	content: "\e030";
}
.icon-users:before {
	content: "\e031";
}
.icon-user-2:before {
	content: "\e032";
}
.icon-users-2:before {
	content: "\e033";
}
.icon-user-3:before {
	content: "\e034";
}
.icon-user-4:before {
	content: "\e035";
}
.icon-quotes-left:before {
	content: "\e036";
}
.icon-busy:before {
	content: "\e037";
}
.icon-spinner:before {
	content: "\e038";
}
.icon-spinner-2:before {
	content: "\e039";
}
.icon-spinner-3:before {
	content: "\e03a";
}
.icon-spinner-4:before {
	content: "\e03b";
}
.icon-spinner-5:before {
	content: "\e03c";
}
.icon-spinner-6:before {
	content: "\e03d";
}
.icon-search:before {
	content: "\e03e";
}
.icon-zoom-in:before {
	content: "\e03f";
}
.icon-zoom-out:before {
	content: "\e040";
}
.icon-expand:before {
	content: "\e041";
}
.icon-contract:before {
	content: "\e042";
}
.icon-expand-2:before {
	content: "\e043";
}
.icon-contract-2:before {
	content: "\e044";
}
.icon-key:before {
	content: "\e045";
}
.icon-key-2:before {
	content: "\e046";
}
.icon-lock:before {
	content: "\e047";
}
.icon-lock-2:before {
	content: "\e048";
}
.icon-unlocked:before {
	content: "\e049";
}
.icon-wrench:before {
	content: "\e04a";
}
.icon-settings:before {
	content: "\e04b";
}
.icon-equalizer:before {
	content: "\e04c";
}
.icon-cog:before {
	content: "\e04d";
}
.icon-cogs:before {
	content: "\e04e";
}
.icon-cog-2:before {
	content: "\e04f";
}
.icon-hammer:before {
	content: "\e050";
}
.icon-wand:before {
	content: "\e051";
}
.icon-aid:before {
	content: "\e052";
}
.icon-bug:before {
	content: "\e053";
}
.icon-pie:before {
	content: "\e054";
}
.icon-stats:before {
	content: "\e055";
}
.icon-bars:before {
	content: "\e056";
}
.icon-bars-2:before {
	content: "\e057";
}
.icon-gift:before {
	content: "\e058";
}
.icon-trophy:before {
	content: "\e059";
}
.icon-glass:before {
	content: "\e05a";
}
.icon-leaf:before {
	content: "\e05b";
}
.icon-fire:before {
	content: "\e05c";
}
.icon-remove:before {
	content: "\e05d";
}
.icon-remove-2:before {
	content: "\e05e";
}
.icon-briefcase:before {
	content: "\e05f";
}
.icon-truck:before {
	content: "\e060";
}
.icon-shield:before {
	content: "\e061";
}
.icon-lightning:before {
	content: "\e062";
}
.icon-switch:before {
	content: "\e063";
}
.icon-power-cord:before {
	content: "\e064";
}
.icon-signup:before {
	content: "\e065";
}
.icon-list:before {
	content: "\e066";
}
.icon-list-2:before {
	content: "\e067";
}
.icon-numbered-list:before {
	content: "\e068";
}
.icon-menu:before {
	content: "\e069";
}
.icon-menu-2:before {
	content: "\e06a";
}
.icon-tree:before {
	content: "\e06b";
}
.icon-cloud-download:before {
	content: "\e06c";
}
.icon-cloud-upload:before {
	content: "\e06d";
}
.icon-cloud:before {
	content: "\e06e";
}
.icon-download-2:before {
	content: "\e06f";
}
.icon-upload-2:before {
	content: "\e070";
}
.icon-download-3:before {
	content: "\e071";
}
.icon-upload-3:before {
	content: "\e072";
}
.icon-globe:before {
	content: "\e073";
}
.icon-earth:before {
	content: "\e074";
}
.icon-link:before {
	content: "\e075";
}
.icon-flag:before {
	content: "\e076";
}
.icon-attachment:before {
	content: "\e077";
}
.icon-eye:before {
	content: "\e078";
}
.icon-eye-blocked:before {
	content: "\e079";
}
.icon-eye-2:before {
	content: "\e07a";
}
.icon-bookmark:before {
	content: "\e07b";
}
.icon-bookmarks:before {
	content: "\e07c";
}
.icon-brightness-medium:before {
	content: "\e07d";
}
.icon-brightness-contrast:before {
	content: "\e07e";
}
.icon-contrast:before {
	content: "\e07f";
}
.icon-star:before {
	content: "\e080";
}
.icon-star-2:before {
	content: "\e081";
}
.icon-star-3:before {
	content: "\e082";
}
.icon-heart:before {
	content: "\e083";
}
.icon-heart-2:before {
	content: "\e084";
}
.icon-heart-broken:before {
	content: "\e085";
}
.icon-thumbs-up:before {
	content: "\e086";
}
.icon-thumbs-up-2:before {
	content: "\e087";
}
.icon-happy:before {
	content: "\e088";
}
.icon-happy-2:before {
	content: "\e089";
}
.icon-point-up:before {
	content: "\e08a";
}
.icon-point-right:before {
	content: "\e08b";
}
.icon-point-down:before {
	content: "\e08c";
}
.icon-point-left:before {
	content: "\e08d";
}
.icon-warning:before {
	content: "\e08e";
}
.icon-notification:before {
	content: "\e08f";
}
.icon-question:before {
	content: "\e090";
}
.icon-info:before {
	content: "\e091";
}
.icon-info-2:before {
	content: "\e092";
}
.icon-blocked:before {
	content: "\e093";
}
.icon-cancel-circle:before {
	content: "\e094";
}
.icon-checkmark-circle:before {
	content: "\e095";
}
.icon-spam:before {
	content: "\e096";
}
.icon-close:before {
	content: "\e097";
}
.icon-checkmark:before {
	content: "\e098";
}
.icon-checkmark-2:before {
	content: "\e099";
}
.icon-spell-check:before {
	content: "\e09a";
}
.icon-minus:before {
	content: "\e09b";
}
/*.icon-plus:before {*/
	/*content: "\e09c";*/
/*}*/
.icon-enter:before {
	content: "\e09d";
}
.icon-exit:before {
	content: "\e09e";
}
.icon-loop:before {
	content: "\e09f";
}
.icon-loop-2:before {
	content: "\e0a0";
}
.icon-loop-3:before {
	content: "\e0a1";
}
.icon-shuffle:before {
	content: "\e0a2";
}
.icon-checkbox-checked:before {
	content: "\e0a3";
}
.icon-radio-checked:before {
	content: "\e0a4";
}
.icon-checkbox-partial:before {
	content: "\e0a5";
}
.icon-radio-unchecked:before {
	content: "\e0a6";
}
.icon-checkbox-unchecked:before {
	content: "\e0a7";
}
.icon-crop:before {
	content: "\e0a8";
}
.icon-scissors:before {
	content: "\e0a9";
}
.icon-table:before {
	content: "\e0aa";
}
.icon-file-openoffice:before {
	content: "\e0ab";
}
.icon-file-word:before {
	content: "\e0ac";
}
.icon-file-excel:before {
	content: "\e0ad";
}
.icon-file-zip:before {
	content: "\e0ae";
}
.icon-file-powerpoint:before {
	content: "\e0af";
}
.icon-file-xml:before {
	content: "\e0b0";
}
.icon-file-css:before {
	content: "\e0b1";
}
.icon-chrome:before {
	content: "\e0b2";
}
.icon-firefox:before {
	content: "\e0b3";
}
.icon-IE:before {
	content: "\e0b4";
}
.icon-opera:before {
	content: "\e0b5";
}
.icon-safari:before {
	content: "\e0b6";
}
.icon-IcoMoon:before {
	content: "\e0b7";
}
.icon-paypal:before {
	content: "\e0b8";
}
.icon-paypal-2:before {
	content: "\e0b9";
}
.icon-paypal-3:before {
	content: "\e0ba";
}
.icon-delicious:before {
	content: "\e0bb";
}
.icon-linkedin:before {
	content: "\e0bc";
}
.icon-github:before {
	content: "\e0bd";
}
.icon-github-2:before {
	content: "\e0be";
}
.icon-code:before {
	content: "\e0bf";
}
.icon-embed:before {
	content: "\e0c0";
}
.icon-console:before {
	content: "\e0c1";
}
.icon-indent-increase:before {
	content: "\e0c2";
}
.icon-indent-decrease:before {
	content: "\e0c3";
}
.icon-new-tab:before {
	content: "\e0c4";
}
.icon-paragraph-justify:before {
	content: "\e0c5";
}
.icon-paragraph-right:before {
	content: "\e0c6";
}
.icon-paragraph-center:before {
	content: "\e0c7";
}
.icon-paragraph-left:before {
	content: "\e0c8";
}
.icon-paragraph-justify-2:before {
	content: "\e0c9";
}
.icon-paragraph-right-2:before {
	content: "\e0ca";
}
.icon-paragraph-center-2:before {
	content: "\e0cb";
}
.icon-paragraph-left-2:before {
	content: "\e0cc";
}
.icon-google-plus:before {
	content: "\e0cd";
}
.icon-arrow-left:before {
	content: "\e0ce";
}
.icon-arrow-down-left:before {
	content: "\e0cf";
}
.icon-arrow-down:before {
	content: "\e0d0";
}
.icon-arrow-down-right:before {
	content: "\e0d1";
}
.icon-arrow-right:before {
	content: "\e0d2";
}
.icon-arrow-up-right:before {
	content: "\e0d3";
}
.icon-arrow-up-left:before {
	content: "\e0d4";
}
.icon-arrow-up:before {
	content: "\e0d5";
}
.icon-arrow-left-2:before {
	content: "\e0d6";
}
.icon-arrow-down-left-2:before {
	content: "\e0d7";
}
.icon-arrow-down-2:before {
	content: "\e0d8";
}
.icon-arrow-down-right-2:before {
	content: "\e0d9";
}
.icon-arrow-right-2:before {
	content: "\e0da";
}
.icon-arrow-up-right-2:before {
	content: "\e0db";
}
.icon-arrow-up-2:before {
	content: "\e0dc";
}
.icon-arrow-up-left-2:before {
	content: "\e0dd";
}
.icon-stack:before {
	content: "\e0de";
}
.icon-envelop:before {
	content: "\e0df";
}
.icon-storage:before {
	content: "\e0e0";
}
.icon-tab:before {
	content: "\e0e1";
}
